# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Database
*.db

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Data Science Cache
scikit_learn_data/
runs/